@model AROCONSTRUCCIONES.Dtos.ProveedorDto

@{
    ViewData["Title"] = "Detalles del Proveedor";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Proveedor: @Model.RazonSocial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RUC)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RUC)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-9">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>